@model WhooberCore.Models.RegisterModel

@{
    var error = (string) ViewData["error"];
    if (error is not null)
    {
        <h6 style="color: indianred;">@error</h6>
    }
}
<h3>Sign Up</h3>
<div class="row">
    <div class="col-md-4">
        <partial name="_RegisterForm"/>
        <a asp-action="Login" asp-controller="Auth">or Sign In?</a>
    </div>
</div>