@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <a style="margin: 10px" class="btn btn-primary" role="button" asp-area="" asp-controller="Passenger" asp-action="Index">Passenger</a>
        <a style="margin: 10px" class="btn btn-primary" role="button" asp-area="" asp-controller="Driver" asp-action="Index">Driver</a>
    </div>
</div>