@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Client home page</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <a style="margin: 10px" class="btn btn-primary" role="button" asp-area="" asp-controller="Auth" asp-action="LoginClient">Login</a>
        <a style="margin: 10px" class="btn btn-primary" role="button" asp-area="" asp-controller="Auth" asp-action="RegisterClient">Register</a>
    </div>
</div>