@{
    ViewData["Title"] = "Does auth work";
}

<div class="text-center">
    <h1 class="display-3">Does auth work?</h1>
    <h3 class="display-4">If you can see this, you have been autorized</h3>
    <h4 class="display-5">(or it does not work)</h4>
</div>