@model WhooberCore.Models.LoginModel

@{
    var error = (string) ViewData["error"];
    if (error is not null)
    {
        <h6 style="color: indianred;">@error</h6>
    }
}
<h3>Sign In</h3>
<div class="row">
    <div class="col-md-4">
        <partial name="_LoginForm"/>
        <a asp-action="Register" asp-controller="Auth">or Sign Up?</a>
    </div>
</div>